body {
  background-color: beige;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:peachpuff;
  margin: 2px;
  padding: 2px;
}
form {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

td, th {
  border: 1px solid purple;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkolivegreen;
  color: goldenrod;
}

tr, td {
  border: 1px solid brown;
  color:firebrick;
  padding: 5px;
}
.home {
  margin-right: 10px;
  color:red;
}